option_settings:
  # Staging Environment HTTPS Configuration
  - namespace: aws:elbv2:listener:443
    option_name: Protocol
    value: HTTPS
    condition:
      Namespace: aws:elasticbeanstalk:environment
      OptionName: EnvironmentName
      Value: inviter-staging
  - namespace: aws:elbv2:listener:443
    option_name: SSLCertificateArns
    value: arn:aws:acm:us-west-2:575960429871:certificate/a56605b0-ed4f-4e6c-8703-e101b9c1c3d2
    condition:
      Namespace: aws:elasticbeanstalk:environment
      OptionName: EnvironmentName
      Value: inviter-staging
  - namespace: aws:elasticbeanstalk:environment:process:default
    option_name: protocol
    value: https
    condition:
      Namespace: aws:elasticbeanstalk:environment
      OptionName: EnvironmentName
      Value: inviter-staging

  # Production Environment HTTPS Configuration
  - namespace: aws:elbv2:listener:443
    option_name: Protocol
    value: HTTPS
    condition:
      Namespace: aws:elasticbeanstalk:environment
      OptionName: EnvironmentName
      Value: inviter-test
  - namespace: aws:elbv2:listener:443
    option_name: SSLCertificateArns
    value: arn:aws:acm:us-west-2:871070087012:certificate/2a30e713-badc-4720-b5cc-bd177fd89aa4
    condition:
      Namespace: aws:elasticbeanstalk:environment
      OptionName: EnvironmentName
      Value: inviter-test
  - namespace: aws:elasticbeanstalk:environment:process:default
    option_name: protocol
    value: https
    condition:
      Namespace: aws:elasticbeanstalk:environment
      OptionName: EnvironmentName
      Value: inviter-test
